@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
   @foreach (var item in Model)
   {
       <div class="col-md-4 mb-4 d-flex justify-content-center">
          @if(!String.IsNullOrEmpty(item.Imagen))
          {
              <img src="@item.Imagen" class="pokemon-card img-fluid" alt="Carta de Pokémon" style="width: 240px; height: 336px; object-fit: cover;" />
          }
          else
          {
              <div class="d-flex align-items-center justify-content-center bg-dange text-white" style="width: 240px; height: 336px;">
                  <span class="badge bg-danger">Sin Imagen</span>
              </div>
          }
       </div>
   }
</div>
